<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.haoyang666.www.mapper.RecordsMapper">

    <resultMap id="BaseResultMap" type="fun.haoyang666.www.domain.entity.Records">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="answerTime" column="answerTime" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="opponent" column="opponent" jdbcType="BIGINT"/>
            <result property="result" column="result" jdbcType="TINYINT"/>
            <result property="sum" column="sum" jdbcType="BIGINT"/>
            <result property="currectSum" column="currectSum" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,answerTime,userId,
        opponent,result,sum,
        currectSum,createTime,updateTime,
        isDelete
    </sql>
</mapper>
